/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom style */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter+Tight:wght@300&family=Karla:wght@200;300&family=Merriweather:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&family=Oswald:wght@200;300;600&family=Poppins:wght@100;200;300;400;600&family=Raleway:wght@200;300&family=Roboto+Mono:wght@100;200&family=Roboto:wght@400;500;700;900&display=swap');

body{
    background-color: #dad5c6;
    color:#1c1b1a ;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 32px;
}

.header{
   width: 100%;
   background-color: #1C8D73;
   /* padding: 50px 0; */
   color: yellow;
   text-align: center;
   font-size: 50px;
   font-weight: bold;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 32px;
}
.card{
    
    margin: 20px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
li{
    background-color: rgb(234, 241, 234);
    width: 30%;
    height: 20%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* margin: 0 10px; */
}
img{
    width: 40%;
    height: 50%;
    /* padding: 0 50px; */
}
h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
p{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin: 15px;
}
button{
    background-color: #1C8D73;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    width: 30%;
    border-radius: 8px;
}

button:hover{
    background-color: #fff;
    color: #1C8D73;
    font-weight: bold;
    transform: 0.9;
}
